body {
    font-family: 'Rubik', sans-serif;
    background-image: url(https://github.com/Mister-Zeng/IP-Address-Tracker/blob/main/images/pattern-bg.png?raw=true);
    background-size: 2040px 280px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 ;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title {
    color: white;
    font-weight: 400;
}

.searchIPAddress {
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.IPAddressInput {
    display: flex;
}

.arrow {
    background-color: black;
    width: 55px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    color: hsl(0, 0%, 59%);
    cursor: pointer;
}

.arrow:hover {
    background-color: rgb(59, 59, 59);
}

.info {
    background-color: white;
    padding: 20px;
    width: 1070px;
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
    z-index: 2;
    align-items: flex-start;
    justify-content: space-evenly;
}


p {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    bottom: 15px;
}

h2 {
    color: hsl(0, 0%, 59%);
    font-size: 14px;
    font-weight: 500;
}

hr {
    height: 70px;
    margin-top: 20px;
    margin-right: 30px;
    color: hsl(0, 0%, 59%);
}

#map { 
    position: relative;
    bottom: 86px;
    width: 100%;
    height: 783px;
    display: block;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 22px;
        padding: 10px;
    }

    .searchIPAddress {
        width: 280px;
    }

    .info {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        padding: 18px;
    }
    
    hr {
        display: none;
    }

    p {
        font-size: 20px;
        margin: 0;
        padding-top: 10px;
    }

    h2 {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: capitalize;
    }

    body {
        background-size: 1450px 310px;
        background-repeat: no-repeat;
    }
    
    #map {
        bottom: 180px;
    }
}


@media screen and (min-width: 1024px) {
    .info {
        width: 800px;
    }

    hr {
    margin-right: 30px;
    margin-left: 30px;
    }
}


@media screen and (min-width: 1440px) {
    .info {
        width: 1070px;
    }
}
